*{
    margin: 0;
    padding: 0;

}

body, html{
    width: 100%;
    height: 100%;
    background: url(01.jpg) no-repeat;
    background-size: cover;
    font-family: 'Play', sans-serif;}

.container{
    width: 100%;
    height: 100%;
    background-color: #3498db80;
}

.container h1{
    color: white;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container h3{
    color: white;
    font-size: 20px;
    font-weight: 250;
    text-align: center;
    position: relative;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}



.container h1 span{
    display: block;
    background: #16a085;
    padding: 0 10px;
}

.container h3 span {
    display: block;
    text-decoration: none;
    color: white;
}
.container h3 span a {
    color: inherit;
}


.menu{
    position: absolute;
    top: 40px;
    left: 40px;
    overflow: hidden;
    width: 50px;
    cursor: pointer;

}

.menu span {
    height: 3px;
    display: block;
    margin: 6px;
    background: white;
    transition: 0.4s all;

}

.s1, .s3{
    width: 100%;

} 

.s2{
    width: 50%;
}

.menu:hover > .s2{
    width: 100%;
}

.btn{
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    animation: shake 0.6s infinite;
}

@keyframes shake {
    0%{
        transform: translate(0px, 0px) rotate(0deg);
    }
    25%{
        transform: translate(1px, 1px) rotate(1deg);
    }
    50%{
        transform: translate(-1px, -1px) rotate(-1deg);
    }
    75%{
        transform: translate(2px, -1px) rotate(2deg);
    }
    100%{
        transform: translate(-1px, 1px) rotate(-1deg);
    }
}

@media only screen and (max-device-width: 400px){
    body{
        background: url(01c.jpg);
    }
}